################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEnd/WebAPI/.vs/WebAPI
/BackEnd/WebAPI/WebAPI/bin/Debug/net8.0
/BackEnd/WebAPI/WebAPI/obj
